<a href="https://colab.research.google.com/github/JhobanyT/Big-Data/blob/main/seleccionar_filas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [5]:
url = url = ("https://raw.githubusercontent.com/JhobanyT/Big-Data/main/marketing_data.csv")
df = pd.read_csv(url)
print(df.shape)
df.head()

(2240, 28)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,1826,1970,Graduation,Divorced,"$84,835.00",0,0,6/16/14,0,189,...,6,1,0,0,0,0,0,1,0,SP
1,1,1961,Graduation,Single,"$57,091.00",0,0,6/15/14,0,464,...,7,5,0,0,0,0,1,1,0,CA
2,10476,1958,Graduation,Married,"$67,267.00",0,1,5/13/14,0,134,...,5,2,0,0,0,0,0,0,0,US
3,1386,1967,Graduation,Together,"$32,474.00",1,1,05/11/2014,0,10,...,2,7,0,0,0,0,0,0,0,AUS
4,5371,1989,Graduation,Single,"$21,474.00",1,0,04/08/2014,0,6,...,2,7,1,0,0,0,0,1,0,SP

# Seleccionar filas

In [3]:
# seleccion de las filas de la 10 a la 20. 10 inclusiva y la 20 no incluye

df.iloc[10:20]

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
10,2079,1947,2n Cycle,Married,"$81,044.00",0,0,12/27/13,0,450,...,10,1,0,0,0,0,0,0,0,US
11,5642,1979,Master,Together,"$62,499.00",1,0,12/09/2013,0,140,...,6,4,0,0,0,0,0,0,0,SP
12,10530,1959,PhD,Widow,"$67,786.00",0,0,12/07/2013,0,431,...,6,1,0,0,0,0,0,1,0,IND
13,2964,1981,Graduation,Married,"$26,872.00",0,0,10/16/13,0,3,...,2,6,0,0,0,0,0,0,0,CA
14,10311,1969,Graduation,Married,"$4,428.00",0,1,10/05/2013,0,16,...,0,1,0,0,0,0,0,0,0,SP
15,837,1977,Graduation,Married,"$54,809.00",1,1,09/11/2013,0,63,...,5,4,0,0,0,0,0,0,0,SP
16,10521,1977,Graduation,Married,"$54,809.00",1,1,09/11/2013,0,63,...,5,4,0,0,0,0,0,1,0,SP
17,10175,1958,PhD,Divorced,"$32,173.00",0,1,08/01/2013,0,18,...,3,4,0,0,0,0,0,0,0,SP
18,1473,1960,2n Cycle,Single,"$47,823.00",0,1,7/23/13,0,53,...,3,8,0,0,0,0,0,0,0,CA
19,2795,1958,Master,Single,"$30,523.00",2,1,07/01/2013,0,5,...,2,7,0,0,0,0,0,0,0,CA

In [9]:
# para saber el nombre de cada una de las columnas
df.columns.values

array(['ID', 'Year_Birth', 'Education', 'Marital_Status', ' Income ',
       'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines',
       'MntFruits', 'MntMeatProducts', 'MntFishProducts',
       'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases',
       'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases',
       'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4',
       'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Response',
       'Complain', 'Country'], dtype=object)

# OTRO TIPO DE SELECCION DE FILAS

In [10]:
# LOS 5 CLIENTES MAS MAYORES
df.nsmallest(5, 'Year_Birth')

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
513,11004,1893,2n Cycle,Single,"$60,182.00",0,1,5/17/14,23,8,...,2,4,0,0,0,0,0,0,0,SA
827,1150,1899,PhD,Together,"$83,532.00",0,0,9/26/13,36,755,...,4,1,0,0,1,0,0,0,0,SP
2233,7829,1900,2n Cycle,Divorced,"$36,640.00",1,0,9/26/13,99,15,...,2,5,0,0,0,0,0,0,1,IND
2171,6663,1940,PhD,Single,"$51,141.00",0,0,07/08/2013,96,144,...,4,5,0,0,0,0,0,0,0,SP
1740,6932,1941,PhD,Married,"$93,027.00",0,0,4/13/13,77,1285,...,5,2,0,0,1,0,0,0,0,SP

In [12]:
# LOS 5 CLIENTES MAS JOVENES
df.nlargest(5, 'Year_Birth')

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
562,9909,1996,2n Cycle,Married,"$7,500.00",0,0,11/09/2012,24,3,...,3,9,0,0,0,0,0,1,0,AUS
1824,193,1996,Basic,Married,"$14,421.00",0,0,2/17/14,81,0,...,2,5,1,0,0,0,0,0,0,SP
697,10548,1995,Graduation,Single,"$71,163.00",0,0,03/09/2014,30,283,...,12,1,0,0,0,0,0,0,0,GER
964,3661,1995,2n Cycle,Single,"$80,617.00",0,0,10/12/2012,42,594,...,8,2,0,0,0,0,0,0,0,IND
1298,4427,1995,2n Cycle,Single,"$83,257.00",0,0,9/18/12,56,536,...,12,6,1,0,1,0,0,1,1,SP

In [14]:
# CLIENTES CON MAYOR CANTIDAD DE DIAS DESPUES DE SU ULTIMA COMPRA
df.nlargest(5, "Recency")

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
2223,2831,1976,Graduation,Together,"$78,416.00",0,1,6/27/14,99,453,...,10,3,0,0,0,0,0,0,0,SP
2224,868,1966,Graduation,Married,"$44,794.00",0,1,06/08/2014,99,54,...,3,6,0,0,0,0,0,0,0,SA
2225,7212,1966,Graduation,Married,"$44,794.00",0,1,06/08/2014,99,54,...,3,6,0,0,0,0,0,0,0,AUS
2226,1743,1974,Graduation,Single,"$69,719.00",0,0,5/26/14,99,273,...,5,1,0,0,0,0,0,0,0,SP
2227,2415,1962,Graduation,Together,"$62,568.00",0,1,04/07/2014,99,362,...,5,4,0,0,0,1,0,0,0,SP

In [16]:
# CLIENTES CON MENOR CANTIDAD DE DIAS DESPUES DE SU ULTIMA COMPRA
df.nsmallest(5, "Recency")

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,1826,1970,Graduation,Divorced,"$84,835.00",0,0,6/16/14,0,189,...,6,1,0,0,0,0,0,1,0,SP
1,1,1961,Graduation,Single,"$57,091.00",0,0,6/15/14,0,464,...,7,5,0,0,0,0,1,1,0,CA
2,10476,1958,Graduation,Married,"$67,267.00",0,1,5/13/14,0,134,...,5,2,0,0,0,0,0,0,0,US
3,1386,1967,Graduation,Together,"$32,474.00",1,1,05/11/2014,0,10,...,2,7,0,0,0,0,0,0,0,AUS
4,5371,1989,Graduation,Single,"$21,474.00",1,0,04/08/2014,0,6,...,2,7,1,0,0,0,0,1,0,SP